.group-child11,
.group-child12 {
  position: absolute;
  top: 0;
  height: 307px;
}
.group-child11 {
  left: 0;
  border-radius: 10px;
  border: 1px solid #f7f8fa;
  box-sizing: border-box;
  width: 657px;
}
.group-child12 {
  left: 130px;
  background-color: #438af6;
  width: 125px;
  opacity: 0.1;
}
.div5 {
  position: absolute;
  top: 327px;
  left: 0;
  letter-spacing: -0.02em;
}
.line-div,
.line-icon,
.line-parent {
  position: absolute;
  top: 0;
  left: 5.83px;
  width: 1.65px;
  height: 305px;
}
.line-div,
.line-parent {
  left: 122.17px;
  width: 24px;
  height: 343px;
}
.line-div {
  top: -0.5px;
  left: 7.16px;
  border-right: 1px dashed #ebf0f5;
  box-sizing: border-box;
  width: 1px;
  height: 308px;
}
.group-child13,
.line-group {
  position: absolute;
  top: 0;
  left: 249.34px;
  width: 25px;
  height: 343px;
}
.group-child13 {
  top: -0.5px;
  left: 7.38px;
  border-right: 1px dashed #ebf0f5;
  box-sizing: border-box;
  width: 1px;
  height: 305px;
}
.group-child14,
.line-container {
  position: absolute;
  top: 0;
  left: 377.12px;
  width: 25px;
  height: 343px;
}
.group-child14 {
  top: -0.5px;
  left: 7.59px;
  border-right: 1px dashed #ebf0f5;
  box-sizing: border-box;
  width: 1px;
  height: 305px;
}
.line-parent1 {
  top: 0;
  left: 504.91px;
  width: 25px;
  height: 343px;
}
.div10,
.line-parent1,
.parent {
  position: absolute;
}
.div10 {
  top: 327px;
  left: 627.07px;
  letter-spacing: -0.02em;
}
.parent {
  top: 0;
  left: 0;
  width: 656.07px;
  height: 343px;
}
.group-child15,
.vector-icon {
  position: absolute;
  top: 120.5px;
  left: 0.96px;
  width: 648.42px;
  height: 177.83px;
}
.group-child15 {
  top: 120px;
  left: 128.12px;
  border-radius: 2px;
  width: 125.77px;
  height: 96.45px;
}
.group-child16,
.group-child17 {
  position: absolute;
  top: -0.5px;
  box-sizing: border-box;
  width: 1px;
}
.group-child16 {
  left: 203.5px;
  background-color: #438af6;
  border-right: 1px dashed #438af6;
  height: 306px;
}
.group-child17 {
  left: 539.5px;
  border-right: 1px dashed #ff9142;
  height: 305px;
}
.group-parent4 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 656.07px;
  height: 343px;
}
.group-child18,
.group-child19 {
  position: absolute;
  top: 117px;
  left: 198px;
  border-radius: 50%;
  background-color: #438af6;
  width: 11px;
  height: 11px;
}
.group-child19 {
  left: 534px;
  background-color: #ff9142;
}
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 657px;
  height: 345px;
  text-align: left;
  font-size: 12px;
  color: #9eaab7;
  font-family: "DM Sans";
}
