.hover-effect:hover{
  transform:scale(1.06);
  color: #445ee2;
  
}
.group-child8 {
  position: absolute;
  top: 54px;
  left: 0;
  border-radius: 0 100px 100px 0;
  background-color: #f7f8fa;
  width: 186px;
  height: 50px;
}
.award-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.text1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
}
.side-bar-unselected {
  position: absolute;
  width: 59.14%;
  top: calc(50% - 17.5px);
  right: 19.35%;
  left: 21.51%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  color: #445ee2;
}
.text2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 500;
}
.side-bar-unselected1 {
  position: absolute;
  width: 59.14%;
  top: calc(50% - 75.5px);
  right: 19.35%;
  left: 21.51%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.icon1,
.text3 {
  position: absolute;
}
.icon1 {
  height: 54.88%;
  width: 14.55%;
  top: 2.66%;
  right: 85.45%;
  bottom: 42.46%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text3 {
  top: 0;
  left: 31px;
  letter-spacing: -0.02em;
  line-height: 28px;
}
.icon-parent {
  position: absolute;
  height: 18.54%;
  width: 59.14%;
  top: 81.46%;
  right: 19.35%;
  bottom: 0;
  left: 21.51%;
}
.rectangle-parent {
  position: absolute;
  top: 4px;
  left: 0;
  width: 186px;
  height: 151px;
  text-align: left;
  font-size: 16px;
  color: #566474;
  font-family: "DM Sans";
}
