.group-child20 {
  position: absolute;
  top: 0;
  left: 15px;
  border-radius: 5px;
  background-color: #1e272e;
  width: 175px;
  height: 81px;
}
.polygon-icon {
  position: absolute;
  top: 29.28px;
  left: 2.58px;
  border-radius: 3px;
  width: 25.92px;
  height: 31.44px;
}
.percentile1,
.your-score {
  position: absolute;
  top: 23px;
  left: 0;
  letter-spacing: -0.02em;
}
.percentile1 {
  top: 0;
  left: 1px;
  font-size: 18px;
  color: #fff;
}
.your-score-parent {
  position: absolute;
  top: 20px;
  left: 35px;
  width: 125px;
  height: 41px;
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 81px;
  text-align: left;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "DM Sans";
}
