.link-secondary-child {
  position: relative;
  width: 12.5px;
  height: 12.5px;
  display: none;
}
.not-interested {
  position: relative;
  letter-spacing: -0.02em;
}
.link-secondary,
.link-secondary1 {
  position: absolute;
  height: 47.73%;
  width: 12.7%;
  top: 25%;
  right: 53.31%;
  bottom: 27.27%;
  left: 33.99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.link-secondary1 {
  width: 5.37%;
  right: 73.17%;
  left: 21.47%;
}
.frame-child {
  position: relative;
  width: 24px;
  height: 25px;
}
.property-1notification-inner {
  position: absolute;
  height: 102.27%;
  width: 7.87%;
  top: -1.14%;
  right: 38.28%;
  bottom: -1.14%;
  left: 53.85%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.dsc-0848-2-2-icon {
  position: relative;
  border-radius: 37.32px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.siddharth-jain {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
}
.drop-down-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.profile {
  position: absolute;
  height: 100%;
  width: 34.7%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 65.3%;
  border-radius: 10px;
  border: 1px solid #ebf0f5;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  /* gap: 10px; */
  color: #1e272e;
}
.property-1notification {
  border-radius: 10px;
  width: 559px;
  height: 44px;
  text-align: left;
  font-size: 16px;
  color: #566474;
  font-family: "DM Sans";
}
